/* General container for the album section */
.container {
    margin-top: 150px;
    padding: 20px;
  }
  
  /* Styling for the title */
  .h1 {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 4rem; /* Adjust font size as needed */
  }
  
  /* Styling for each card */
  .card {
    width: 100%; /* Ensure the card takes the full width of its container */
    height: 100%;
    margin: 0 auto; /* Center the card horizontally */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out card body and button */
    position: relative;
    margin-top: 50px; /* Needed for positioning the button */
  }
  
  /* Styling for card body */
  .cardBody {
    flex-grow: 1; /* Allow the body to expand and fill available space */
    padding: 20px;
  }
  
  /* Styling for the card image */
  .cardImage {
    height: 280px; /* Set the desired height for images */
    width: 100%; /* Ensure images take the full width of the card */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  /* Styling for card title */
  .cardTitle { /* Adjust font size as needed */
    margin-bottom: 10px; /* Space between title and text */
  }
  
  /* Styling for card text */
  .cardText {
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between text and button */
  }
  
  /* Styling for the button */
  .button {
     background-color: hsl(273, 100%, 50%);
     padding: 10px;
     color: white;
     font-weight: bold;
     border: none;
     border-radius: 10px;
     text-decoration: none;
  }
  
  /* Styling for button on hover */
  .button:hover {
    background-color: hsl(273, 100%, 35%);
  }
  
@media (max-width: 768px) {
    .container {
        margin-top: 80px;
    }

    .h1 {
        font-size: 2rem;
        margin-left: 0; /* Centriranje naslova */
    }

    .card {
        margin-top: 15px; /* Manje margine */
    }

    .cardImage {
        height: 180px;
    }

    .cardTitle {
        font-size: 1.2rem;
    }

    .cardText {
        font-size: 0.9rem;
        margin-bottom: 10px; /* Manje margine */
    }

    .button {
        padding: 8px; /* Manje padding za mobilne uređaje */
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 60px;
    }

    .h1 {
        font-size: 1.5rem;
    }

    .card {
        margin-top: 10px; /* Još manje margine */
    }

    .cardImage {
        height: 150px;
    }

    .cardTitle {
        font-size: 1rem;
    }

    .cardText {
        font-size: 0.8rem;
        margin-bottom: 15x; /* Manje margine */
    }

    .button {
        padding: 6px; /* Još manje padding za male ekrane */
    }
}
