@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.skills {
  font-size: 4rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.skills.visible {
  animation: slideInFromLeft 1s forwards;
}

.skills.hidden {
  animation: slideOutToLeft 1s forwards;
}

li{
  font-size: 1.5rem;  /* GLOBALNI STIL PAZI ! */
  font-weight: bold;
}

/* Media queries za mobilne uređaje */
@media (max-width: 768px) {
  .skills {
    font-size: 2.5rem; /* Manje veličine za tablet i mobilne uređaje */
  }

  li {
    font-size: 1rem; /* Manje veličine za tablet i mobilne uređaje */
  }
}

@media (max-width: 480px) {
  .skills {
    font-size: 2rem; /* Još manje veličine za mobilne uređaje */
  }

  li {
    font-size: 0.9rem; /* Još manje veličine za mobilne uređaje */
  }
}
